<div class="login flex flex-col items-center justify-center h-full w-full min-h-screen">
  <h1 class="text-3xl font-bold text-left">Log in</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <label class="form-control w-full max-w-xs">
      <div class="label pl-0">
        <%= f.label :email, class: "label-text"%>
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full max-w-xs rounded-md" %>
    </label>
    <label class="form-control w-full max-w-xs">
      <div class="label pl-0">
        <%= f.label :password, class: "label-text" %>
      </div>
      <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered w-full max-w-xs rounded-md"  %>
    </label>
    <% if devise_mapping.rememberable? %>
      <div class="field mt-2">
        <%= f.check_box :remember_me, class: "checkbox" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in", class:"btn btn-primary w-full mt-2 mb-4" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
