<div class="flex items-center justify-between mb-2">
    <h1 class="pl-2 pt-6 pb-4 text-2xl font-semibold">Minhas Guias</h1>
    <% if current_user.is_accountant? %>
        <%= link_to "nova guia",  new_tax_path, class: "btn btn-primary"  %>
    <%end %>
</div>

<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Empresa</th>
        <th>Data de vencimento</th>
        <th>Valor</th>
        <th>Pago</th>
        <th>Arquivo</th>
      </tr>
    </thead>
    <tbody>
      <% @taxes.each do |tax|%>
        <tr>
          <th><%= tax.id %></th>
          <th><%= tax.company.name %></th>
          <th><%= tax.due_date ? tax.due_date.strftime("%d/%m/%Y") : "ads" %></th>
          <th><%= number_to_currency tax.amount %></th>
          <th><%= tax.paid ? "Pago": "Não Pago" %></th>
          <th>
                <% if tax.file.url %>
                  <%= link_to "Ver", tax.file.url, target: "_blank" %>
                <%else %>
                    Nenhum arquivo
                <% end %>
          </th>
        </tr>
      <%end %>
    </tbody>
  </table>
</div>
